:root {
  --orange: #ff693b;
  --brown: #42210b;
  --gren: #6accba;
  --yellow: #f1be3c;
  --white: #eeeeee;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding-top: 80px;
  /* padding: 90px 20px 0; */
  width: 100%;
}

.header {
  background-color: var(--orange);
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.nav {
  display: flex;
  justify-content: space-between;

  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: var(--yellow);
  transition: 0.5s;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}

.section {
  height: 600px;
  width: 100%;
}

#nosotros {
  background-color: var(--white);
}

.container__nosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.container__nosotros-img {
  width: 40%;
}

.container__nosotros-texto {
  width: 30%;
}

.container__nosotros-texto p {
  font-size: 25px;
}

.container__nosotros-texto-botones {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
}

.button-type1 {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #ff0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #ff0072;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  margin-bottom: 30px;
}

.button-type1:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #ff0072;
  z-index: -1;
}

.button-type1:hover,
.button-type1:focus {
  color: white;
}

.button-type1:hover:before,
.button-type1:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.button-type1:active {
  transform: scale(0.9);
}

.button-type2 {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #ff0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #ff0072;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.button-type2:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #ff0072;
  z-index: -1;
}

.button-type2:hover,
.button-type2:focus {
  color: white;
}

.button-type2:hover:before,
.button-type2:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.button-type2:active {
  transform: scale(0.9);
}

#contacto {
  background-color: var(--yellow);
}

.footer {
  background-color: var(--white);
  height: 200px;
}

/* MOBILE */
@media (max-width: 768px) {
  body {
    padding-top: 60px;
  }

  .header {
    height: 60px;
    z-index: 50;
  }

  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: var(--yellow);
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: var(--brown);
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }

  .container__nosotros {
    display: flex;
    flex-direction: column;
  }

  .container__nosotros-img {
  }

  .container__nosotros-texto {
    width: 100%;
    margin: 10px auto;
    text-align: center;
  }

  .nosotros-img {
    width: 100%;
  }

  .container__nosotros-texto p {
    font-size: 25px;
  }

  .container__nosotros-texto-botones {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .button-type1 {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #ff0072;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #ff0072;
    text-decoration: none;
    transition: 0.3s ease all;
    margin-bottom: 30px;
  }

  .button-type1:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #ff0072;
    z-index: -1;
  }

  .button-type1:hover,
  .button-type1:focus {
    color: white;
  }

  .button-type1:hover:before,
  .button-type1:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }

  .button-type1:active {
    transform: scale(0.9);
  }

  .button-type2 {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #ff0072;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #ff0072;
    text-decoration: none;
    transition: 0.3s ease all;
  }

  .button-type2:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #ff0072;
    z-index: -1;
  }

  .button-type2:hover,
  .button-type2:focus {
    color: white;
  }

  .button-type2:hover:before,
  .button-type2:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }

  .button-type2:active {
    transform: scale(0.9);
  }
}
